
* {
  font-family: "Quicksand", sans-serif;
}

body {
  height: 100vh;
  background-image: linear-gradient(#FFFFFF, #2677CD, #04128A, #2677CD);
}

.header {
  color: #FFFFFF;
  opacity: 0;
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
  text-shadow: 2px 0 2px black, -2px 0 2px black, 0 2px 2px black, 0 -2px 2px black;
  animation: fadeIn 3s forwards;
}

.prompt {
  margin-top: 5%;
  padding-top: 5%;
  color: #FFFFFF;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-shadow: 2px 0 2px black, -2px 0 2px black, 0 2px 2px black, 0 -2px 2px black;
  animation: fadeIn 3s forwards .5s;
}

.section1 {
  height: 15.5%;
  width: 100%;
  display: flex;
  opacity: 0;
  justify-content: center;
  animation: fadeIn 3s forwards .5s;
}

.section2 {
  height: 35%;
  width: 100%;
  opacity: 0;
  display: flex;
  justify-content: center;
  padding-top: 50px;
  margin-top:80px;
  animation: fadeIn 3s forwards 1s;
}

.selection-box {
  height: 70%;
  width: 40%;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.radio-inputs {
  color: #FFFFFF;
  font-size: 1.2rem;
  text-shadow: 2px 0 2px black, -2px 0 2px black, 0 2px 2px black, 0 -2px 2px black;
  width: 90%;
  display: flex;
  justify-content: space-around;
  font-style: italic;
}

.message-box {
  height: 75%;
  width: 65%;
  background-color: #ffffff;
  border-radius: 20px;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.msg-button {
  height: 35%;
  width: 35%;
  font-size: 1rem;
  border-radius: 15px;
  background-color: #134D71;
  color: white;
  cursor: pointer;
  transition: 1.5s;
}

.msg-button:hover {
  background-color: #78A7C6;
  letter-spacing: 2px;
}

.clear-button {
  height: 35%;
  width: 35%;
  font-size: 1rem;
  border-radius: 15px;
  background-color: #134D71;
  color: #FFFFFF;
  cursor: pointer;
  transition: 1.5s;
}

.clear-button:hover {
  background-color: #78A7C6;
  letter-spacing: 1px;
}

p {
  text-align: center;
  font-size: 2rem;
  width: 70%;
  color: #FFFFFF;
  text-shadow: 2px 0 2px black, -2px 0 2px black, 0 2px 2px black, 0 -2px 2px black;
  animation: fadeIn 3s;
}

.meditate {
  height: 60%;
  width: relative;
  border-radius: 100px;
  animation: fadeIn 2s;
}

.hidden {
  display: none;
}

.backgroundOne {
  background-image: linear-gradient(#BFA3DD, #FFFFFF, #BFA3DD);
}

.backgroundTwo {
  background-image: linear-gradient(#2BD4EC, #FFFFFF, #2BD4EC);
}

@keyframes fadeIn {
  0% {opacity: 0}
  100% {opacity: 1}
}
